<!-- HEADER -->
<div id="header_wrap" class="outer">
    <header class="inner">
        <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>

        <h1 id="project_title">{{ site.github.project_title | replace:'-',' ' | capitalize }}</h1>
        <h2 id="project_tagline">{{ site.github.project_tagline }}</h2>

        <section id="downloads">
            <a class="zip_download_link" href="{{ site.github.zip_url | replace:'gh-pages','master' }}">Download this project as a .zip file</a>
            <a class="tar_download_link" href="{{ site.github.tar_url | replace:'gh-pages','master' }}">Download this project as a tar.gz file</a>
        </section>
    </header>
</div>
